<div class="container">
    <div class="row grid-container">
        <div class="col-md-10">
            <div class="table">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th cmSortBy="title" (sorted)="sort('title')">Title</th>
                            <th cmSortBy="author" (sorted)="sort('author')">Author</th>
                            <th cmSortBy="shortDescription" (sorted)="sort('shortDescription')">Short Description</th>
                           
                          <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let book of books;trackBy:trackbyService.book">
                            <td><img src="assets/images/book.jpg"
                                    class="grid-image" alt="Book Image" /></td>
                            <td><a [routerLink]="['/books',book.id,'details']">{{ book.title | capitalize }}</a></td>
                            <td>{{ book.author | trim }}</td>
                            <td>{{ book.shortDescription }}</td>
                            
                           
                        </tr>
                        <tr *ngIf="!books.length">
                            <td>&nbsp;</td>
                            <td colspan="7">No Records Found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
